<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>
    <div class="modal-body">
        <div class="heading">Choose the Character:</div>
        <hr>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 ml-auto">
                    <img id="broccoli" src="/public/images/Broccoli.png" alt="Broccoli">
                </div>
                <div class="col-md-3 ml-auto">
                    <img id="candy" src="/public/images/Candy.png" alt="Candy">
                </div>
                <div class="col-md-3 ml-auto">
                    <img id="chili" src="/public/images/ChiliPepper.png" alt="Chili Pepper">
                </div>
                <div class="col-md-3 ml-auto">
                    <img id="cookie" src="/public/images/Cookie.png" alt="Cookie">
                </div>
                <div class="col-md-3 ml-auto">
                    <img id="crab" src="/public/images/Crab.png" alt="Crab">
                </div>
                <div class="col-md-3 ml-auto">
                    <img id="dougnut" src="/public/images/Dougnut.png" alt="Dougnut">
                </div>
                <div class="col-md-3 ml-auto">
                    <img id="durian" src="/public/images/DurianFruit.png" alt="Durian Fruit">
                </div>
                <div class="col-md-3 ml-auto">
                    <img id="egg" src="/public/images/Egg.png" alt="Egg">
                </div>
                <div class="col-md-3 ml-auto">
                    <img id="passion" src="/public/images/PassionFruit.png" alt="Passion Fruit">
                </div>
                <div class="col-md-3 ml-auto">
                    <img id="pizza" src="/public/images/Pizza.png" alt="Pizza">
                </div>
                <div class="col-md-3 ml-auto">
                    <img id="pretzel" src="/public/images/Pretzel.png" alt="Pretzel">
                </div>
                <div class="col-md-3 ml-auto">
                    <img id="sucker" src="/public/images/Sucker.png" alt="Sucker">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>