<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
</head>
<div class="container">
    <div class="land">
        <div class="animated fadeIn slower">
            <div class="welcome">
            </div>
            <hr>
            <div class="greet">If you're ready for a game, feel free to hit the "Join Game" button below. If you would
                like
                to review the rules for the game, the rule list is available by clicking on the "Game Rules" button. All
                other additional information about Food Fight can be found by clicking the "More Information" button.
                Enjoy!
            </div>
        </div>
    </div>
    <!--Begin More Information Section-->
    <div class="afterAbout">
        <div class="row">
            <div class="col-sm-12">
                <div id="title"> Information:</div>

                <div id="content">
                    Food Fight is a multiplayer based game built by four junior developers. The game you are about to
                    play went from concept to finished product in two weeks.
                </div>
            </div>
        </div>
    </div>
    <!--Begin Rules Section-->
    <div class="afterRules">
        <div class="col-sm-12">
            <div id="title">
                Rules:
            </div>
            <div id="list2">
                <ol>
                    <li>
                        <p>At the start of the game, player order is randomly assigned. All players will then be
                            presented with a character selection screen. Players will be allowed to select a character
                            in consecutive order until all four players have chosen. Each player must choose a different
                            character.</p>
                    </li>
                    <li>
                        <p> "Food Fight" will last five rounds. A round consists of two seperate phases; the shopping
                            phase, and the battle phase.</p>
                    </li>
                    <li>
                        <p> At the beginning of each round, the shopping phase will occur. Items will be generated
                            randomly across the game board. If a player moves across the item, the player will equip
                            that
                            item for the upcoming battle phase. Items give the player a bonus to their base attack
                            value. The amount of spaces a player is allowed to move is
                            determined by a dice roll at the start of their turn during this phase. </p>
                    </li>
                    <li>
                        <p>After all players have completed their shopping phase then battle phase will begin. The
                            battle phase is a turn-based free-for-all. Players will have the ability to attack any other
                            player until their HP reaches zero</p>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="viewbtn">
        <div class="animated fadeIn slower">
            <div class="row">
                <div class="col-sm-4">
                    <div class="col text-center">
                        <input id="game-rules" class="btn" type="submit" value="Game Rules" />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="col text-center">
                        <input id="join-game" class="btn" href="/game" type="submit" value="Join Game" />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="col text-center">
                        <input id="more-info" class="btn" type="submit" value="More Information" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>

    $(function () {
        //display Username
        $(".welcome").text("Welcome to Food Fight, " + window.location.pathname.split("/")[2] + "!")
        //Display more information about the game
        $("#more-info").click(function () {
            $('.afterAbout').css('display', 'block')
            $(".viewbtn").css('display', 'none')
            $(".land").css('display', 'none')
        })
        //Display Game rules
        $("#game-rules").click(function () {
            $('.afterRules').css('display', 'block')
            $(".viewbtn").css('display', 'none')
            $(".land").css('display', 'none')
        })
        var socket = io();

        $("#join-game").click(function () {
            var username = window.location.pathname.split("/")[2]
            $.get("/api/players", function (data) {
                playerNum = data.length;
                var newPlayerPosition = 0;
                switch (playerNum) {
                    case 1:
                        newPlayerPosition = 24;
                        break;
                }
                var newPlayer = {
                    username: username,
                    playerId: "test text",
                    position: newPlayerPosition
                };

                $.ajax("/api/players", { type: "POST", data: newPlayer }).then(
                    function () {
                        window.location = window.location.origin += "/gameboard/" + username;
                    }
                );
            });

        });
    });
</script>