<table style="float: left">
    <tbody>
        <tr>
            <td id="0">0</td>
            <td id="1">1</td>
            <td id="2">2</td>
            <td id="3">3</td>
            <td id="4">4</td>
        </tr>
        <tr>
            <td id="5">5</td>
            <td id="6">6</td>
            <td id="7">7</td>
            <td id="8">8</td>
            <td id="9">9</td>
        </tr>
        <tr>
            <td id="10">10</td>
            <td id="11">11</td>
            <td id="12">12</td>
            <td id="13">13</td>
            <td id="14">14</td>
        </tr>
        <tr>
            <td id="15">15</td>
            <td id="16">16</td>
            <td id="17">17</td>
            <td id="18">18</td>
            <td id="19">19</td>
        </tr>
        <tr>
            <td id="20">20</td>
            <td id="21">21</td>
            <td id="22">22</td>
            <td id="23">23</td>
            <td id="24">24</td>
        </tr>
    </tbody>
</table>
<div style="float: left">
    <h2>Player: <span class="player-num"></span></h2>
    <h2>Current turn: Player <span class="player-turn"></span></h2>
    <br />
    <h2>Moves: <span class="player-moves"></span></h2>
    <br /><br />
    <button id="end-turn">End Turn</button>
</div>
<div>

    <!-- Modal -->
    <div class="modal fade bd-example-modal-lg" id="playerSelectModelId" tabindex="-1" role="dialog"
        aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role=" document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="heading">
                            <h1>Choose a Character:</h1>
                        </div>
                        <hr>
                        <div class="container">
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                            {{!--
                            <div class="row">
                                <div class="col-md-3 ml-auto">
                                    <img class="resize" id="broccoli" src="/images/Broccoli.png" alt="Broccoli">
                                </div>
                                <div class="col-md-3 ml-auto">
                                    <img class="resize" id="chili" src="/images/ChiliPepper.png" alt="Chili Pepper">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 ml-auto">
                                    <img class="resize" id="crab" src="/images/Crab.png" alt="Crab">
                                </div>
                                <div class="col-md-3 ml-auto">
                                    <img class="resize" id="durian" src="/images/DurianFruit.png" alt="Durian Fruit">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 ml-auto">
                                    <img class="resize" id="egg" src="/images/Egg.png" alt="Egg">
                                </div>
                                <div class="col-md-3 ml-auto">
                                    <img class="resize" id="passion" src="/images/PassionFruit.png" alt="Passion Fruit">
                                </div>
                            </div>

                             <div class="col-md-3 ml-auto ">
                                <img class="resize" id="pizza" src="/images/Pizza.png" alt="Pizza">
                            </div>
                            <div class="col-md-3 ml-auto ">
                                <img class="resize" id="cookie" src="/images/Cookie.png" alt="Cookie">
                            </div>
                            <div class="col-md-3 ml-auto ">
                                <img class="resize" id="dougnut" src="/images/Dougnut.png" alt="Dougnut">
                            </div>
                            <div class="col-md-3 ml-auto ">
                                <img class="resize" id="pretzel" src="/images/Pretzel.png" alt="Pretzel">
                            </div>
                            <div class="col-md-3 ml-auto ">
                                <img class="resize" id="candy" src="/images/Candy.png" alt="Candy">
                            </div>
                            <div class="col-md-3 ml-auto ">
                                <img class="resize" id="sucker" src="/images/Sucker.png" alt="Sucker">
                            </div> --}}


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary submit">Select Player</button>

</div>
<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">


<script>
    $(function () {
        var socket = io();
        var playerNum;
        $("#end-turn").hide();

        $.get("/api/players", function (data) {
            playerNum = data.length;
            $(".player-num").text(playerNum);
            console.log(data.length);
            if (data.length === 2) {
                console.log("start 0");
                socket.emit("startGame", true);
            }
        });

        socket.on("startGame", function (turn) {
            $.get("/api/board", function (data) {
                board = JSON.parse(data[0].boardSpots);
                var boardSpot = [];
                console.log(board);

                $(".validMove").removeClass("validMove");
                $(".hasPlayer").removeClass("hasPlayer");
                $(".hasItem").removeClass("hasItem");
                for (var i = 0; i < board.spots.length; i++) {
                    if (board.spots[i].hasItem) {
                        $("#" + i).addClass("hasItem");
                    }
                    if (board.spots[i].hasPlayer) {
                        $("#" + i).addClass("hasPlayer");

                        if (board.spots[i].playerId === turn) {
                            boardSpot = board.spots[i].validMoves;
                        }
                    }
                }
                $("#end-turn").hide();
                $(".player-turn").text(turn);
                changeTurn(turn, boardSpot);
            });
        });

        function changeTurn(turn, boardSpot) {
            console.log(
                "Current turn: " + turn + ", Your player num: " + playerNum
            );
            if (turn === playerNum) {
                for (var i = 0; i < boardSpot.length; i++) {
                    if (!$("#" + boardSpot[i]).hasClass("hasPlayer")) {
                        $("#" + boardSpot[i]).addClass("validMove");
                    }
                }
                $("#end-turn").show();
                console.log("your turn");
            }
        }

        $(document).on("click", ".validMove", function () {
            var newLocation = parseInt($(this).attr("id"));
            var newBoardState = { newPosition: newLocation, playerId: playerNum };
            $.ajax("/api/board", {
                type: "PUT",
                data: newBoardState,
                success: function (data) {
                    console.log(data);
                    socket.emit("playerMove", playerNum);
                }
            });
        });

        socket.on("startTurn", function (turn) {
            $.get("/api/board", function (data) {
                board = JSON.parse(data[0].boardSpots);
                var boardSpot = [];
                console.log(board);

                $(".validMove").removeClass("validMove");
                $(".hasPlayer").removeClass("hasPlayer");
                $(".hasItem").removeClass("hasItem");
                for (var i = 0; i < board.spots.length; i++) {
                    if (board.spots[i].hasItem) {
                        $("#" + i).addClass("hasItem");
                    }
                    if (board.spots[i].hasPlayer) {
                        $("#" + i).addClass("hasPlayer");

                        if (board.spots[i].playerId === turn) {
                            boardSpot = board.spots[i].validMoves;
                        }
                    }
                }
                $("#end-turn").hide();
                $(".player-turn").text(turn);
                changeTurn(turn, boardSpot);
            });
        });

        $("#end-turn").click(function () {
            socket.emit("endTurn", playerNum);
        });
    });

    //Modal related changes

    var characterList = [];
    var $characterContainer = $(".container");

    $(".submit").on("click", function (event) {
        console.log("MODAL CLICKED");
        event.preventDefault();

        $.get("/api/characters", function (data) {
            characterList = data;
            console.log(characterList)
            initializeRows();
            $("#playerSelectModelId").modal("show");

        });




    });

    function initializeRows() {
        $characterContainer.empty();
        var rowsToAdd = [];
        for (var i = 0; i < characterList.length; i++) {
            rowsToAdd.push(createNewRow(characterList[i]));
        }
        console.log(rowsToAdd);
        $characterContainer.prepend(rowsToAdd);
        console.log($characterContainer);
    }

    function createNewRow(character) {
        var $newInputRow = $(
            [
                "<li class='list-group-item'>",
                "<span>",
                character.character_name,
                "</span>",
                "<span>",
                character.attack,
                "</span>",
                "<span>",
                "<img class='resize' ",
                "id = ",
                character.id,
                " ",
                "src = '/images/",
                character.character_name,
                ".png'",
                ">",
                "</span>",
                "</li>"
            ].join("")
        );

        $newInputRow.data("character", character);
        return $newInputRow;
    }


</script>