<div class="container">
    <div class="row">
        <div class="col-md-9">
            <table id="gameboard">
                <tbody>
                    <tr>
                        <td id="0"></td>
                        <td id="1"></td>
                        <td id="2"></td>
                        <td id="3"></td>
                        <td id="4"></td>
                    </tr>
                    <tr>
                        <td id="5"></td>
                        <td id="6"></td>
                        <td id="7"></td>
                        <td id="8"></td>
                        <td id="9"></td>
                    </tr>
                    <tr>
                        <td id="10"></td>
                        <td id="11"></td>
                        <td id="12"></td>
                        <td id="13"></td>
                        <td id="14"></td>
                    </tr>
                    <tr>
                        <td id="15"></td>
                        <td id="16"></td>
                        <td id="17"></td>
                        <td id="18"></td>
                        <td id="19"></td>
                    </tr>
                    <tr>
                        <td id="20"></td>
                        <td id="21"></td>
                        <td id="22"></td>
                        <td id="23"></td>
                        <td id="24"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="player-col" class="col-md-3">
            <div class="player-card-top player-num">
                <div>
                    <h5>Moves: <span class="player-moves"></span></h5>
                    <button class="btn btn-lg" id="roll-dice" disabled>Roll!</button>
                    <button class="btn btn-lg" id="end-turn" disabled>End Turn</button>
                </div>
                <div class="progress">
                    <div class="progress-bar bg-success" style="width:100%" role="progressbar" aria-valuenow="20"
                        aria-valuemin="0" aria-valuemax="20"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<a href="/logout">Logout</a>
</div>

<div>

    <!-- Modal -->
    <div class="modal fade bd-example-modal-lg" id="playerSelectModelId" data-turn="" tabindex="-1" role="dialog"
        aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role=" document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="heading">
                            <h1>Player <span id="character-turn">0
                                </span> is choosing</h1>
                        </div>
                        <hr>
                        <div id="container-character">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-player="" id="select-char">Select
                                Character</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary submit">Select Player</button>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/roll-a-die.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/js/gameboard.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">