<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>
    <div class="container">
        <div class="form">
            <form id="signup" name="signup" method="post" action="/signup">
                <ul class="tab-group">
                    <li class="tab-active"><a href="/signup">Sign Up</a></li>
                    <li class="tab"><a href="/signin">Sign In</a></li>
                </ul>
                <label for="username">Create A Unique Username</label>
                <input class="text" name="username" type="text" />
                <label for="password">Password</label>
                <input name="password" type="password" />
                <input class="btn" type="submit" value="Sign Up" />
            </form>
        </div>
        <div class="mt-5">
            <h2>Debug Options</h2>
            <button id="delete-player">Delete Players</button>
            <button id="add-player">Create Game</button>
            <button id="reset-characters">Reset Characters</button>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
        $(function () {
            $("#delete-player").click(function () {
                $.ajax("/api/players", {
                    type: "DELETE",
                    success: function (data) {
                        console.log(data);
                    }
                })
            });

            $("#add-player").click(function () {
                var newPlayer = {
                    name: "test",
                    playerId: "test text",
                    position: 0
                };

                $.ajax("/api/players", { type: "POST", data: newPlayer }).then(
                    function () {
                        window.open(window.location.origin += "/gameboard", '_blank');
                    }
                );
            });

            //resetting active flag and char selected val.
            $("#reset-characters").click(function () {
                $.get("/api/characters", function (data) {
                    characterList = data;
                    characterList.forEach(character => {
                        var newChar = jQuery.extend(true, {}, character);
                        newChar.activeFlag = "N";
                        newChar.charSelected = false;
                        $.ajax({
                            method: "PUT",
                            url: "/api/characters",
                            data: newChar
                        }).then(function () {

                        });

                    });
                });
            });


        });
    </script>
</body>

</html>