<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>
    <div class="form">
        <form id="signin" name="signin" method="post" action="signin">
            <ul class="tab-group">
                <li class="tab"><a href="/signup">Sign Up</a></li>
                <li class="tab active"><a href="/signin">Sign In</a></li>
                <li class="tab"><a href="/logout">Logout</a></li>
            </ul>
            <label for="email">Email Address</label>
            <input class="text" name="email" type="text" />
            <label for="password">Password</label>
            <input name="password" type="password" />
            <input class="btn" type="submit" value="Sign In" />
        </form>
    </div>
</body>

</html>