<!DOCTYPE html>
<html>

<head>
    <title></title>

</head>

<body>
    <script src="/js/authentication.js"></script>
    <div class="container">
        <img src="/images/main_characters_page.png" class="img-fluid">
        <div class="form">
            <form id="signin" name="signin" method="post" action="signin">
                <ul class="tab-group">
                    <li class="tab"><a href="/signup">Sign Up</a></li>
                    <li class="tab-active"><a href="/signin">Sign In</a></li>
                </ul>
                <div class="d-flex justify-content-center">
                    <div class="">
                        <label for="username">Enter Your Username</label>
                        <input class="text" id="username" name="username" type="text" />
                        <label for="password">Password</label>
                        <input name="password" type="password" id="password" />
                        <input class="btn" type="submit" value="Sign In" />
                    </div>
                </div>
            </form>
        </div>
    </div>

</body>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
</body>

</html>