<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Oswald" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
    <!--Custom CSS-->
    <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/styles/dashboard.css" media="screen" title="no title" charset="utf-8">
    <!-- Bootstrap JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <title></title>
</head>

<body>
    <script src="/js/authentication.js"></script>
    <div class="background">
        <div class="container">
            <img src="/images/main_characters_pagenobckgd.png" class="img-fluid">
            <div class="form">
                <form id="signup" name="signup" method="post" action="/signup">
                    <ul class="tab-group">
                        <li class="tab-active"><a href="/signup">Sign Up</a></li>
                        <li class="tab"><a href="/signin">Sign In</a></li>
                    </ul>
                    <div class="d-flex justify-content-center">
                        <div class="">
                            <label for="username">Create A Unique Username</label>
                            <input class="text" name="username" type="text" />
                            <label for="password">Password</label>
                            <input name="password" type="password" />
                            <input class="btn" type="submit" value="Sign Up" />
                        </div>
                    </div>
            </div>
            </form>
        </div>
        <div class="mt-5">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#resetModal">
                Flip the Table
            </button>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="resetModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">WARNING!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Clicking the "Confirm" button will completely reset the board. If anyone is currently playing, the
                    game will break! Are you sure you want to flip the board?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Nevermind</button>
                    <button type="button" id="reset-button" class="btn btn-primary"
                        data-dismiss="modal">Confirm</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
        $(function () {
            $("#reset-button").click(function () {
                $.ajax("/api/players", {
                    type: "DELETE",
                    success: function (data) {
                        console.log(data);
                    }
                });
                $.get("/api/characters", function (data) {
                    characterList = data;
                    characterList.forEach(character => {
                        var newChar = jQuery.extend(true, {}, character);
                        newChar.activeFlag = 'N';
                        newChar.charSelected = false;
                        $.ajax({
                            method: "PUT",
                            url: "/api/characters",
                            data: newChar
                        });
                    });
                });
            });



            $("#add-player").click(function () {
                var newPlayer = {
                    name: "test",
                    playerId: "test text",
                    position: 0
                };

                $.ajax("/api/players", { type: "POST", data: newPlayer }).then(
                    function () {
                        window.open(window.location.origin += "/gameboard", '_blank');
                    }
                );
            });


        });
    </script>
</body>

</html>