.list-group-item {
  line-height: 2.5;
}

/*General*/
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #dfdce3;
  color: #1d1e22;
}

a {
  text-decoration: underline;
  color: #4abdac;
  font-family: "Oswald", sans-serif;
  font-size: 60px;
}

a:hover {
  color: #393f4d;
}

.btn {
  background: #fc4a1a;
  color: white;
  margin-bottom: 3%;
}

.btn:hover {
  background: rgb(255, 100, 57);
}

/*Form*/

ul.tab-group {
  display: flex;
  justify-content: space-around;
  border: 3px solid #f7b733;
}

ul {
  list-style-type: none;
}

/*Board*/
table {
  background-image: url(../images/Game_Board.png);
  background-size: contain;
  background-repeat: round;
}

td {
  width: 180px;
  height: 120px;
  text-align: center;
  color: darkgrey;
}

.char-selected,
.char-chosen {
  border: 16px solid lightgray;
  filter: grayscale(100%);
}

.item-image {
  width: 100px;
  height: auto;
}

.player-card {
  border-radius: 4px;
  padding: 5px;
  margin-top: 15px;
}

.player-card-top {
  height: 110px;
  padding: 8px;
  border-radius: 4px;
  margin-top: 8px;
  overflow: hidden;
}

.turn-active-card {
  box-shadow: 6px 6px 0px gold, -6px -6px 0px gold, -6px 6px 0px gold,
    6px -6px 0px gold;
}

#player-card-1 {
  background-color: #008f95;
  height: 70px;
  transition: height 0.5s;
  overflow: hidden;
}

#player-card-2 {
  background-color: #eb6e80;
  height: 70px;
  transition: height 0.5s;
  overflow: hidden;
}

#player-card-3 {
  background-color: #e9b000;
  height: 70px;
  transition: height 0.5s;
  overflow: hidden;
}

#player-card-4 {
  background-color: #e24e42;
  height: 70px;
  transition: height 0.5s;
  overflow: hidden;
}

.player1 {
  -webkit-filter: drop-shadow(5px 5px 0px #008f95);
  filter: drop-shadow(5px 5px 0px #008f95) drop-shadow(-5px -5px 0px #008f95)
    drop-shadow(-5px 5px 0px #008f95) drop-shadow(5px -5px 0px #008f95);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.player2 {
  -webkit-filter: drop-shadow(5px 5px 5px #eb6e80);
  filter: drop-shadow(5px 5px 0px #eb6e80) drop-shadow(-5px -5px 0px #eb6e80)
    drop-shadow(-5px 5px 0px #eb6e80) drop-shadow(5px -5px 0px #eb6e80);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.player3 {
  -webkit-filter: drop-shadow(5px 5px 5px #e9b000);
  filter: drop-shadow(5px 5px 0px #e9b000) drop-shadow(-5px -5px 0px #e9b000)
    drop-shadow(-5px 5px 0px #e9b000) drop-shadow(5px -5px 0px #e9b000);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.player4 {
  -webkit-filter: drop-shadow(5px 5px 5px #e24e42);
  filter: drop-shadow(5px 5px 0px #e24e42) drop-shadow(-5px -5px 0px #e24e42)
    drop-shadow(-5px 5px 0px #e24e42) drop-shadow(5px -5px 0px #e24e42);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.validMove {
  background-color: rgb(193, 236, 149);
}

.validMove:hover {
  background-color: rgb(169, 233, 105);
  cursor: pointer;
}

.resize {
  width: 150px;
  height: 150px;
}

.well-custom {
  width: 200px;
  display: inline-block;
}

.character-card {
  padding: 23px;
}

/*Dashboard*/
.land {
  display: block;
}

.afterAbout {
  display: none;
}

.afterRules {
  display: none;
}

.welcome {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 100px;
  align-items: flex-end;
  min-height: 300px;
  display: flex;
  justify-content: center;
}

#title {
  text-align: center;
  text-decoration: underline;
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  color: #f7b733;
}

.greet {
  color: black;
  padding-bottom: 3%;
}

.viewbtn {
  display: block;
}

/* #list2 {
  width: 320px;
} */

#list2 ol {
  font-style: italic;
  font-family: Georgia, Times, serif;
  font-size: 40px;
  color: #4abdac;
}

#list2 ol li p {
  padding: 8px;
  font-size: 25px;
  color: black;
  border-left: 1px solid #999;
}

#list2 ol li p em {
  display: block;
}
